@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #fe2c55;
    --text-color: #161823;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

.tippy-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 38px;
    border-radius: 8px;
    background-color: #545454eb;
    font-style: 1.6rem;
    font-weight: 600;
}

.tippy-arrow::before {
    color: #545454eb;
    top: -8px;
}
