//Menu
.content {
    min-width: 224px;
    padding: 4px 8px;
    transition: opacity linear 1s;
}

.item {
    position: relative;
    padding: 10px 8px 10px 16px;
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
    border-radius: 0;
    border: none;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }

    &.children {
        padding-left: 24px;
        padding-right: 24px;
    }

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}

.icon {
    width: 20px;
    height: 20px;
    font-weight: 600;
}

.switch {
    position: absolute;
    right: 8px;
}

.title {
    font-size: 1.6rem;
    font-weight: 600;
}

//Header

.header {
    margin-top: -8px;
    position: relative;
    height: 50px;
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.3;
    letter-spacing: 0.03px;
}

.menu-body {
    overflow: auto;
    max-height: 590px;
}
